.avatar {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.avatar--sm {
  width: 32px;
  height: 32px;
}

.avatar--md {
  width: 40px;
  height: 40px;
}

.avatar--lg {
  width: 56px;
  height: 56px;
}
